body
{

    margin:0;
    background-color: rgba(0,0,0,0.1);

}

.separator-left
{
    width: 885.328px;
    opacity: 0.3;

}
.separator-right
{
    width: 402.656px;
    opacity: 0.3;
}

img
{
    max-width: 100%;
}
.all-margin
{
    margin: 16px;
}


.header
{
    text-align: center;
    padding: 32px 16px;
}
.header h1
{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}
.header p
{
    font-family: sans-serif;
    font-size: 16px;

}
.span
{
    background-color: black;
    color: white;
    padding: 2px 4px;
}

/*suratebiani*/

.main
{
    display: flex;
justify-content: center;
    flex-wrap: wrap;



}
.main div
{
    flex-direction: row;
}

.leftside
{
    display: block;
    max-width: 917.328px;
}
.leftside img
{
    width:100%;
}
.leftside-item
{

    display: block;

    box-shadow: rgba(0,0,0,0.04) 4px 4px;
    background-color: white;
    margin-bottom: 16px;
    border: 1px solid rgba(0,0,0,0.2);

}






.item-text
{
    padding: 0px 16px;

}
.leftside-item h3
{
    font-family: sans-serif;
    font-weight: 500;
    font-size:25px ;
    opacity: 0.9;
}
.item-text p
{
    font-family: sans-serif ;
    font-size:15px;
    line-height: 22.5px;
    opacity: 0.8;

}
.item-text h5
{
    font-family:sans-serif;
    font-size:18px;
    font-weight: 400;
    line-height: 27px;


}
.item-text span
{
    opacity:0.6 ;
}

.button
{
    background-color: white;
    border:1px solid rgb(204,204,204);
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 22.5px;
    text-align: center;
    margin-bottom:16px;
    opacity: 0.8;
    cursor: pointer;
}
.button:hover
{
    background-color: rgba(204,204,204);
}
.sad1
{
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}
.sad1 span

{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 1px 7px;

}
.sad1 p
{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    opacity:0.8;
}








/* MARJVENA MXARE */

.rightside
{


    max-width:434.656px;
}


.rightside-second-item
{
    display: block;
    box-shadow: rgba(0,0,0,0.04) 4px 4px;
    border:1px solid rgba(0,0,0,0.2);


}
.rightside-second-item h4
{
    border-bottom: 1px solid rgba(0,0,0,0.1);;
    padding:18px 16px;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;






}
.popular-posts
{
    padding: 0px;
    margin: 0;

}
.popular-posts
{
    background-color: white;
}
.popular-posts li
{
    list-style: none;

    border-bottom: rgba(0,0,0,0.1) solid 1px;
    padding: 16px;


}



.popular-posts img
{
    margin-right: 16px;


}
.popular-posts li:hover
{
    background-color: rgba(0,0,0,0.2);;
}
.list-header
{
    display: inline-block;
}
.list-header p
{
    margin:0;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 22.5px;
}
.list-header h5
{
    margin:0;
    font-family: sans-serif;
    font-size:18px;
    font-weight: 200;
    line-height: 27px;
    opacity: 0.9;
}



.rightside-third-item
{
    display: block;
    border: 1px solid rgba(0,0,0,0.1);

}



.rightside-third-item-header
{

    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    border-bottom:1px solid rgba(0,0,0,0.1) ;
    padding:8px 16px;

}
.rightside-third-item-header h4
{
    margin:10px 0;
    font-weight: 200;
    opacity: 0.9;
}



.rightside-third-item-tags
{
    padding: 16px 16px;
    background-color: white;


}
.rightside-third-item-tags p
{
    margin: 0;
}

.tags
{
    display: inline-block;
    font-family: sans-serif;
    font-size:12px ;
    line-height: 18px;
    background-color: #f1f1f1;
    padding: 0px 8px;
    margin-bottom:16px ;
}
.tag-block
{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 16px;
    padding-left:8px;
    padding-right:8px;
    background-color: black;
    color: white;
}

.footer
{
    margin-top:70px ;
    display: block;
    background-color:#616161 ;
    padding:32px 16px ;
}
.footer button
{
    margin-bottom: 16px;
    font-size:15px ;
    font-family: sans-serif;
    font-weight:400 ;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
}
.footer button:hover
{
    color: black;
    background-color: #B5AAAA;


}
.button1
{
    opacity: 0.3;
    cursor: not-allowed;
}
.footer p
{
    color: white;
    font-family: sans-serif;
}
.footer a
{
    color: white;
    font-family: sans-serif;
}


















































